<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출장 신청서</title>
    <link rel="stylesheet" href="../../../resources/css/document-form/businessTripDocument.css" />
</head>
<body id="businessTripDocument">
    <div class="c23 c28 doc-content c99" >
        <p class="c0">&nbsp;</p>
        <table class="c34" style="border-collapse: collapse; border-color: #000000; border-style: solid; width: 100%;" border="1">
          <tbody>
            <tr class="c38">
              <td class="c22" style="border-color: #000000; width: 99.6442%;" colspan="9" rowspan="1">
                <p class="c6"><span class="c30 c43">출장 신청서</span></p>
              </td>
            </tr>
            <tr class="c7">
              <td class="c14" style="border-color: #000000; width: 99.6442%;" colspan="9" rowspan="1">
                <p class="c33"><span class="c5 c30">문서번호: BST-111-2024-0001</span></p>
              </td>
            </tr>
            <tr class="c7">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="2">
                <p class="c6"><span class="c18 c5">기안부서</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="2">
                <p class="c6"><span class="c4">공공사업1Div.</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c4">사원</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c4">대표이사</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c7">
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c4">정원석</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c4">오티아이</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5">기안일</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="3">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="3">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="3">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="3">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="3">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="3">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5">기안자</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5">보존연한</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c4">영구</span></p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5">참조자</span></p>
              </td>
              <td class="c19" style="border-color: #000000; width: 88.1262%;" colspan="7" rowspan="1">
                <p class="c20"><span class="c4">정준하</span></p>
              </td>
            </tr>
            <tr class="c39">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5">제목</span></p>
              </td>
              <td class="c19" style="border-color: #000000; width: 88.1262%;" colspan="7" rowspan="1">
                <p class="c20"><span class="c4">출장 신청서</span></p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5">귀속부서</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1 c25" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c5">소속부서</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="2">
                <p class="c6"><span class="c5 c18">귀속 PJT</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="2">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1 c25" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c5">성 명</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c5">직 위</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5">출장 목적</span></p>
              </td>
              <td class="c19 c23" style="border-color: #000000; width: 88.1262%;" colspan="7" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c11" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="2">
                <p class="c6"><span class="c18 c5">출장</span></p>
              </td>
              <td class="c11" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c5">시작일</span></p>
              </td>
              <td class="c19" style="border-color: #000000; width: 88.1262%;" colspan="7" rowspan="1">
                <p class="c6"><span class="c4">20&nbsp; &nbsp;년&nbsp; &nbsp;월&nbsp; &nbsp;일 (오전/오후) 시</span></p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c11" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c5">종료일</span></p>
              </td>
              <td class="c19" style="border-color: #000000; width: 88.1262%;" colspan="7" rowspan="1">
                <p class="c6"><span class="c4">20&nbsp; &nbsp;년&nbsp; &nbsp;월&nbsp; &nbsp;일 (오전/오후) 시 (&nbsp; 박 &nbsp;일 )</span></p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="2">
                <p class="c6"><span class="c18 c5">교통수단</span></p>
              </td>
              <td class="c19" style="border-color: #000000; width: 88.1262%;" colspan="7" rowspan="1">
                <p class="c6"><span class="c4"><input type="checkbox" /> 철도 / <input type="checkbox" /> 선박 / <input type="checkbox" /> 기타(&nbsp; &nbsp; &nbsp; &nbsp; )</span></p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c19" style="border-color: #000000; width: 88.1262%;" colspan="7" rowspan="1">
                <p class="c6"><span class="c4"><input type="checkbox" /> 항공 / <input type="checkbox" /> 자기차량(사유:&nbsp; &nbsp; &nbsp; &nbsp; )</span></p>
              </td>
            </tr>
            <tr class="c12">
              <td class="c1 c25" style="border-color: #000000; width: 11.518%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5">출장중 연락처</span></p>
              </td>
              <td class="c19" style="border-color: #000000; width: 88.1262%;" colspan="7" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c21">
              <td class="c22 c25" style="border-color: #000000; width: 99.6442%;" colspan="9" rowspan="1">
                <p class="c6"><span class="c5 c30">일정별 업무계획</span></p>
              </td>
            </tr>
            <tr class="c21">
              <td class="c10 c25" style="border-color: #000000; width: 36.6969%;" colspan="4" rowspan="1">
                <p class="c6"><span class="c5 c30">업무 일시(시작, 종료)</span></p>
              </td>
              <td class="c10 c25" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c6"><span class="c5 c30">기관명 및 출장지(도로명주소)</span></p>
              </td>
              <td class="c31 c25" style="border-color: #000000; width: 25.1789%;" colspan="2" rowspan="1">
                <p class="c6"><span class="c5 c30">업무내용</span></p>
              </td>
            </tr>
            <tr class="c21">
              <td class="c24" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">/</span></p>
              </td>
              <td class="c24" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">:</span></p>
              </td>
              <td class="c24" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">/</span></p>
              </td>
              <td class="c24" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">:</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c31" style="border-color: #000000; width: 25.1789%;" colspan="2" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c21">
              <td class="c24" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">/</span></p>
              </td>
              <td class="c24" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">:</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">/</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">:</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c31" style="border-color: #000000; width: 25.1789%;" colspan="2" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c21">
              <td class="c24" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">/</span></p>
              </td>
              <td class="c24" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">:</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">/</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">:</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c31" style="border-color: #000000; width: 25.1789%;" colspan="2" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c21">
              <td class="c24" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">/</span></p>
              </td>
              <td class="c24" style="border-color: #000000; width: 5.75901%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">:</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">/</span></p>
              </td>
              <td class="c1" style="border-color: #000000; width: 12.5895%;" colspan="1" rowspan="1">
                <p class="c6"><span class="c16">:</span></p>
              </td>
              <td class="c10" style="border-color: #000000; width: 37.7684%;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c31" style="border-color: #000000; width: 25.1789%;" colspan="2" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c21">
              <td class="c22" style="border-color: #000000; width: 99.6442%;" colspan="9" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c40">
              <td class="c37" style="border-color: #000000; width: 99.6442%;" colspan="9" rowspan="1">
                <p class="c6 c17">&nbsp;</p>
                <p class="c6"><span class="c5 c26">상기와 같이 출장코자 하오니 허가하여 주시기 바랍니다.</span></p>
                <p class="c6 c17">&nbsp;</p>
                <p class="c6"><span class="c26 c5">20&nbsp; &nbsp;년&nbsp; &nbsp; 월&nbsp; &nbsp; 일</span></p>
                <p class="c6 c17">&nbsp;</p>
                <p class="c6 c17">&nbsp;</p>
                <p class="c6"><span class="c26 c41">(주) ThirtyOne</span></p>
                <p class="c6 c17">&nbsp;</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="c0">&nbsp;</p>
      </div>
</body>
</html>
