<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>휴일근무 신청서</title>
    <link rel="stylesheet" href="../../../resources/css/document-form/holidayWork.css" />
</head>
<body id="holidayWork">
<div class="c26 doc-content" >
    <p class="c2 c3">&nbsp;</p>
    <table class="c29" style="width: 660px; border-collapse: collapse; border: 1px solid rgb(0, 0, 0);" border="1">
      <tbody>
        <tr class="c28" style="height: 80px;">
          <td class="c20" style="width: 99.9115%; border-color: #000000;" colspan="8" rowspan="1">
            <p class="c11" style="text-align: center;"><span class="c38">휴일근무 신청서</span></p>
          </td>
        </tr>
        <tr class="c15" style="height: 26.1667px;">
          <td class="c39" style="width: 99.9115%; border-color: #000000;" colspan="8" rowspan="1">
            <p class="c32"><span class="c23"><strong>문서번호:</strong>&nbsp;HLW-111-2024-0001</span></p>
          </td>
        </tr>
        <tr class="c15" style="height: 26.1667px;">
          <td class="c4 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="2">
            <p class="c11"><span class="c24 c21">기안부서</span></p>
          </td>
          <td class="c4" style="width: 12.822%; border-color: #000000;" colspan="1" rowspan="2">
            <p class="c11"><span class="c0">공공사업1Div.</span></p>
          </td>
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c0">사원</span></p>
          </td>
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c0">대표이사</span></p>
          </td>
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c15" style="height: 26.1667px;">
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c0">정원석</span></p>
          </td>
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c0">오티아이</span></p>
          </td>
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c15" style="height: 26.1667px;">
          <td class="c31 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">기안일</span></p>
          </td>
          <td class="c4" style="width: 12.822%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="3">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="3">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="3">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="3">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="3">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4" style="width: 12.3224%; border-color: #000000;" colspan="1" rowspan="3">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c15" style="height: 26.1667px;">
          <td class="c5 c31" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">기안자</span></p>
          </td>
          <td class="c4" style="width: 12.822%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c15" style="height: 26.1667px;">
          <td class="c31 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">보존연한</span></p>
          </td>
          <td class="c4" style="width: 12.822%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c0">영구</span></p>
          </td>
        </tr>
        <tr class="c15" style="height: 26.1667px;">
          <td class="c31 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">참조자</span></p>
          </td>
          <td class="c22" style="width: 87.2561%; border-color: #000000;" colspan="7" rowspan="1">
            <p class="c2"><span class="c0">정준하</span></p>
          </td>
        </tr>
        <tr class="c19" style="height: 43.3438px;">
          <td class="c4 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">제목</span></p>
          </td>
          <td class="c41" style="width: 87.2561%; border-color: #000000;" colspan="7" rowspan="1">
            <p class="c2"><span class="c0">휴일근무 신청서</span></p>
          </td>
        </tr>
        <tr class="c13" style="height: 48.9792px;">
          <td class="c4 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">귀속부서</span></p>
          </td>
          <td class="c37" style="width: 37.7999%; border-color: #000000;" colspan="3" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4 c5" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">소속부서</span></p>
          </td>
          <td class="c33" style="width: 36.9673%; border-color: #000000;" colspan="3" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c34" style="height: 30.8px;">
          <td class="c4 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="2">
            <p class="c11"><span class="c24 c21">귀속 PJT</span></p>
          </td>
          <td class="c33" style="width: 37.7999%; border-color: #000000;" colspan="3" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
          <td class="c4 c5" style="width: 12.4889%; border-color: #000000;" colspan="1" rowspan="2">
            <p class="c11"><span class="c21 c24">성명</span></p>
          </td>
          <td class="c33" style="width: 36.9673%; border-color: #000000;" colspan="3" rowspan="2">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c42" style="height: 30.8px;">
          <td class="c33" style="width: 37.7999%; border-color: #000000;" colspan="3" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c30" style="height: 71.25px;">
          <td class="c35" style="width: 99.9115%; border-color: #000000;" colspan="8" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
            <p class="c11"><span class="c0">상기인은 다음과 같은 사유로 시간외근로를 하고자 하오니 허가하여 주시길 바랍니다.</span></p>
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c16" style="height: 57.8854px;">
          <td class="c4 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">유형</span></p>
          </td>
          <td class="c22" style="width: 87.2561%; border-color: #000000;" colspan="7" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c27" style="height: 59.0625px;">
          <td class="c4 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c21">기간</span></p>
          </td>
          <td class="c22" style="width: 87.2561%; border-color: #000000;" colspan="7" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c12" style="height: 56.6875px;">
          <td class="c4 c5" style="width: 12.6555%; border-color: #000000;" colspan="1" rowspan="1">
            <p class="c11"><span class="c24 c21">사유</span></p>
            <p class="c11"><span class="c21">(상세기입)</span></p>
          </td>
          <td class="c22" style="width: 87.2561%; border-color: #000000;" colspan="7" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
        <tr class="c9" style="height: 92.3229px;">
          <td class="c20" style="width: 99.9115%; border-color: #000000;" colspan="8" rowspan="1">
            <p class="c2 c3">&nbsp;</p>
            <p class="c11"><span class="c21 c40">20&nbsp;&nbsp;년&nbsp;&nbsp;월&nbsp;&nbsp;일</span></p>
            <p class="c2 c3">&nbsp;</p>
            <p class="c2 c3">&nbsp;</p>
            <p class="c11"><span class="c17">(주) ThirtyOne</span></p>
            <p class="c2 c3">&nbsp;</p>
            <p class="c2 c3">&nbsp;</p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c2 c3">&nbsp;</p>
  </div>
    
</body>
</html>