<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>근태 신청서(휴가)</title>
    <link rel="stylesheet" href="../../../resources/css/document-form/holidayDocument.css" />
</head>
<body id="holidayDocument">
    <div class="c43 doc-content">
        <p class="c2 c26">&nbsp;</p>
        <table class="c41" style="border-collapse: collapse; width: 100%; height: 848.667px; border: 1px solid rgb(0, 0, 0);" border="1">
          <tbody>
            <tr class="c40" style="height: 80px;">
              <td class="c17" style="border-color: #000000; width: 99.9115%;" colspan="8" rowspan="1">
                <p class="c18"><span class="c35">근태 신청서(휴가)</span></p>
              </td>
            </tr>
            <tr class="c14" style="height: 23.5312px;">
              <td class="c29" style="border-color: #000000; width: 99.9115%;" colspan="8" rowspan="1">
                <p class="c24"><span class="c5 c38">문서번호: </span><span class="c38" style="font-size: 10pt;" id="draftDocumentId">(생성 이전)</span></p>
              </td>
            </tr>
            <tr class="c14" style="height: 23.5312px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="2">
                <p class="c18"><span class="c5 c22">기안부서</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.822%;" colspan="1" rowspan="2">
                <p class="c18"><span class="c1" id="draftEmpDepartment">공공사업1Div.</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-position-0">사원</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-position-1">대표이사</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-position-2">&nbsp;</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-position-3">&nbsp;</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-position-4">&nbsp;</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-position-5">&nbsp;</span></p>
              </td>
            </tr>
            <tr class="c14" style="height: 23.5312px;">
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-name-0">&nbsp;</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-name-1">정금호</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-name-2">&nbsp;</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-name-3">&nbsp;</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-name-4">&nbsp;</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="approvalLine-name-5">&nbsp;</span></p>
              </td>
            </tr>
            <tr class="c27" style="height: 26.9271px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">기안일</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.822%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="draftDocumentDate"></span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="3">
                <p class="c18"><span class="c1" id="approval-result-0">&nbsp;</span></p>
                <p class="c18"><small class="c1" id="approval-result-date-0" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="3">
                <p class="c18"><span class="c1" id="approval-result-1">&nbsp;</span></p>
                <p class="c18"><small class="c1" id="approval-result-date-1" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="3">
                <p class="c18"><span class="c1" id="approval-result-2">&nbsp;</span></p>
                <p class="c18"><small class="c1" id="approval-result-date-2" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="3">
                <p class="c18"><span class="c1" id="approval-result-3">&nbsp;</span></p>
                <p class="c18"><small class="c1" id="approval-result-date-3" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="3">
                <p class="c18"><span class="c1" id="approval-result-4">&nbsp;</span></p>
                <p class="c18"><small class="c1" id="approval-result-date-4" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.3224%;" colspan="1" rowspan="3">
                <p class="c18"><span class="c1" id="approval-result-5">&nbsp;</span></p>
                <p class="c18"><small class="c1" id="approval-result-date-5" style="font-size: smaller;">&nbsp;</small></p>
              </td>
            </tr>
            <tr class="c27" style="height: 26.9271px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">기안자</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.822%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1" id="draftDocumentAuthor"></span></p>
              </td>
            </tr>
            <tr class="c44" style="height: 26px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">보존연한</span></p>
              </td>
              <td class="c6" style="border-color: #000000; width: 12.822%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c1">영구</span></p>
              </td>
            </tr>
            <tr class="c14" style="height: 23.5312px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">참조자</span></p>
              </td>
              <td class="c9" style="border-color: #000000; width: 87.2561%;" colspan="7" rowspan="1">
                <p class="c36" id="draftDocumentReferrer"></p>
              </td>
            </tr>
            <tr class="c39" style="height: 34.9271px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">제목</span></p>
              </td>
              <td class="c20" style="border-color: #000000; width: 87.2561%;" colspan="7" rowspan="1">
                <p class="c36"><span class="c1" id="DocumentDraftTitle">근태 신청서(휴가)</span></p>
              </td>
            </tr>
            <tr class="c42" style="height: 34px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">소속</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 37.7999%;" colspan="3" rowspan="1">
                <p class="c2"><span class="c1" id="draftAuthorDepartment"></span></p>
              </td>
              <td class="c6 c15" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">입사일</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 36.9673%;" colspan="3" rowspan="1">
                <p class="c2"><span class="c1" id="draftAuthorHiredate"></span></p>
              </td>
            </tr>
            <tr class="c32" style="height: 32px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">성명</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 37.7999%;" colspan="3" rowspan="1">
                <p class="c2"><span class="c1" id="draftAuthorName"></span></p>
              </td>
              <td class="c6 c15" style="border-color: #000000; width: 12.4889%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">사번</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 36.9673%;" colspan="3" rowspan="1">
                <p class="c2"><span class="c1" id="draftAuthorEmpNumber"></span></p>
              </td>
            </tr>
            <tr class="c4" style="height: 36px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">종류</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 87.2561%;" colspan="7" rowspan="1">
                <p class="c18"><span class="c1" id="holidayDocumentType" >&nbsp;</span></p>
              </td>
            </tr>
            <tr class="c23" style="height: 33.0625px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">기간</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 87.2561%;" colspan="7" rowspan="1">
                <p class="c18"><span class="c1" id="holidayDocumentStartDay">&nbsp;</span>&nbsp;<span class="c1" id="holidayDocumentEndDay"></span></p>
              </td>
            </tr>
            <tr class="c23" style="height: 33.0625px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">대리업무자</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 87.2561%;" colspan="7" rowspan="1">
                <p class="c18">&nbsp;</p>
              </td>
            </tr>
            <tr class="c37" style="height: 30.9271px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c5">비상연락망</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 87.2561%;" colspan="7" rowspan="1">
                <p class="c2"><span class="c1" id="draftAuthorTel"></span></p>
              </td>
            </tr>
            <tr class="c33" style="height: 188px;">
              <td class="c6 c15" style="border-color: #000000; width: 12.6555%;" colspan="1" rowspan="1">
                <p class="c18"><span class="c22 c5">사유</span></p>
                <p class="c18"><span class="c5">(상세기입)</span></p>
              </td>
              <td class="c25" style="border-color: #000000; width: 87.2561%;" colspan="7" rowspan="1">
                <p class="c2" style="text-align: left;">&nbsp;</p>
              </td>
            </tr>
            <tr class="c11" style="height: 84.3958px;">
              <td class="c17" style="border-color: #000000; width: 99.9115%;" colspan="8" rowspan="1">
                <p class="c8">&nbsp;</p>
                <p class="c18"><span class="c5 c19">위와 같은 사유로 근태 신청서를 제출하오니 허가하여 주시기 바랍니다.</span></p>
                <p class="c8">&nbsp;</p>
                <p class="c18"><span class="c19 c5" id="draftSubmitDate">20&nbsp; 년&nbsp; &nbsp; 월&nbsp; &nbsp; 일</span></p>
                <p class="c8">&nbsp;</p>
                <p class="c8">&nbsp;</p>
                <p class="c18"><span class="c19 c30">(주) ThirtyOne</span></p>
                <p class="c8">&nbsp;</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="c2 c26">&nbsp;</p>
      </div>
</body>
</html>
