<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시간외근로 신청서</title>
    <link rel="stylesheet" href="../../../resources/css/document-form/workOvertime.css" />
</head>
<body id="workOvertime">
    <div class="c43 doc-content" >
        <p class="c0 c4">&nbsp;</p>
        <table class="c16" style="border-collapse: collapse; border-color: #000000; border-style: solid;" border="1">
          <tbody>
            <tr class="c41">
              <td class="c18" style="border-color: #000000;" colspan="8" rowspan="1">
                <p class="c8"><span class="c42">시간외근로 신청서</span></p>
              </td>
            </tr>
            <tr class="c31">
              <td class="c26" style="border-color: #000000;" colspan="8" rowspan="1">
                <p class="c27"><span class="c15">문서번호: </span><span class="c15" id="draftDocumentId">(생성 이전)</span></p>
              </td>
            </tr>
            <tr class="c31">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="2">
                <p class="c8"><span class="c9" >기안부서</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="2">
                <p class="c8"><span class="c2" id="draftEmpDepartment">공공사업1Div.</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-position-0">사원</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-position-1">대표이사</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-position-2">&nbsp;</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-position-3">&nbsp;</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-position-4">&nbsp;</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-position-5">&nbsp;</span></p>
              </td>
            </tr>
            <tr class="c31">
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-name-0">&nbsp;</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-name-1">정금호</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-name-2">&nbsp;</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-name-3">&nbsp;</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-name-4">&nbsp;</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="approvalLine-name-5">&nbsp;</span></p>
              </td>
            </tr>
            <tr class="c23">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">기안일</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="draftDocumentDate"></span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="3">
                <p class="c8"><span class="c2" id="approval-result-0">&nbsp;</span></p>
                <p class="c8"><small class="c2" id="approval-result-date-0" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="3">
                <p class="c8"><span class="c2" id="approval-result-1">&nbsp;</span></p>
                <p class="c8"><small class="c2" id="approval-result-date-1" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="3">
                <p class="c8"><span class="c2" id="approval-result-2">&nbsp;</span></p>
                <p class="c8"><small class="c2" id="approval-result-date-2" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="3">
                <p class="c8"><span class="c2" id="approval-result-3">&nbsp;</span></p>
                <p class="c8"><small class="c2" id="approval-result-date-3" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="3">
                <p class="c8"><span class="c2" id="approval-result-4">&nbsp;</span></p>
                <p class="c8"><small class="c2" id="approval-result-date-4" style="font-size: smaller;">&nbsp;</small></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="3">
                <p class="c8"><span class="c2" id="approval-result-5">&nbsp;</span></p>
                <p class="c8"><small class="c2" id="approval-result-date-5" style="font-size: smaller;">&nbsp;</small></p>
              </td>
            </tr>
            <tr class="c23">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">기안자</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2" id="draftDocumentAuthor">&nbsp;</span></p>
              </td>
            </tr>
            <tr class="c23">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">보존연한</span></p>
              </td>
              <td class="c1" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c2">영구</span></p>
              </td>
            </tr>
            <tr class="c30">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">참조자</span></p>
              </td>
              <td class="c21" style="border-color: #000000;" colspan="7" rowspan="1">
                <p class="c25"><span class="c2" id="draftDocumentReferrer">&nbsp;</span></p>
              </td>
            </tr>
            <tr class="c36">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">제목</span></p>
              </td>
              <td class="c21" style="border-color: #000000;" colspan="7" rowspan="1">
                <p class="c25"><span class="c2" id="DocumentDraftTitle">시간외근로 신청서</span></p>
              </td>
            </tr>
            <tr class="c35">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">귀속부서</span></p>
              </td>
              <td class="c29" style="border-color: #000000;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">소속부서</span></p>
              </td>
              <td class="c29" style="border-color: #000000;" colspan="3" rowspan="1">
                <p class="c25"><span class="c2" id="draftAuthorDepartment"></span></p>
              </td>
            </tr>
            <tr class="c44">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="2">
                <p class="c8"><span class="c9">귀속 PJT</span></p>
              </td>
              <td class="c29" style="border-color: #000000;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">성명</span></p>
              </td>
              <td class="c29" style="border-color: #000000;" colspan="3" rowspan="1">
                <p class="c25"><span class="c2" id="draftAuthorName"></span></p>
              </td>
            </tr>
            <tr class="c35">
              <td class="c29" style="border-color: #000000;" colspan="3" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">직위</span></p>
              </td>
              <td class="c6" style="border-color: #000000;" colspan="3" rowspan="1">
                <p class="c25"><span class="c2" id="draftAuthorPosition">&nbsp;</span></p>
              </td>
            </tr>
            <tr class="c45">
              <td class="c28" style="border-color: #000000;" colspan="8" rowspan="1">
                <p class="c0">&nbsp;</p>
                <p class="c8"><span class="c2">상기인은 다음과 같은 사유로 시간외근로를 하고자 하오니 허가하여 주시길 바랍니다.</span></p>
                <p class="c0">&nbsp;</p>
            </td>
            </tr>
            <tr class="c19">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">유형</span></p>
              </td>
              <td class="c21" style="border-color: #000000;" colspan="7" rowspan="1">
                <p class="c8"><span class="c2">■ 연장근무</span></p>
              </td>
            </tr>
            <tr class="c39">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c24">기간</span></p>
              </td>
              <td class="c21" style="border-color: #000000;" colspan="7" rowspan="1">
                <p class="c8"><span class="c2" id="workovertimeStart">20&nbsp; &nbsp;년&nbsp; &nbsp;월&nbsp; &nbsp;일&nbsp; &nbsp;시</span></p>
                <p class="c8"><span class="c9">~</span></p>
                <p class="c8"><span class="c2" id="workovertimeEnd">20&nbsp; &nbsp;년&nbsp; &nbsp;월&nbsp; &nbsp;일&nbsp; &nbsp;시 (총&nbsp; &nbsp;시간)</span></p>
              </td>
            </tr>
            <tr class="c19">
              <td class="c1 c12" style="border-color: #000000;" colspan="1" rowspan="1">
                <p class="c8"><span class="c9">사유</span></p>
                <p class="c8"><span class="c24">(상세기입)</span></p>
              </td>
              <td class="c29" style="border-color: #000000;" colspan="7" rowspan="1">
                <p class="c0">&nbsp;</p>
              </td>
            </tr>
            <tr class="c10">
              <td class="c18" style="border-color: #000000;" colspan="8" rowspan="1">
                <p class="c8 c34">&nbsp;</p>
                <p class="c8"><span class="c15 c38" id="draftSubmitDate">20&nbsp; &nbsp;년&nbsp; &nbsp;월&nbsp; &nbsp;일</span></p>
                <p class="c8 c34">&nbsp;</p>
                <p class="c8 c34">&nbsp;</p>
                <p class="c8"><span class="c33">(주) ThirtyOne</span></p>
                <p class="c8 c34">&nbsp;</p>
                <p class="c8 c34">&nbsp;</p>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
</body>
</html>
