<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>공지사항 작성</title>
    <link rel="stylesheet" href="../../../resources/css/style.css" />
    <link rel="stylesheet" href="../../../resources/css/noticeList.css" />
    <script src="../../../resources/jquery/jquery.min.js"></script>
	<link href="../../../resources/bootstrap/bootstrap.min.css" rel="stylesheet">
	<script src="../../../resources/bootstrap/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="../../../resources/css/common/header.css"/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="../../../resources/js/notice_write.js"></script>
    
</head>
<body>

    
<div class="cardBox">
    <div class="title">공지사항</div>
    <div class="text">써리원의 사내 공지사항을 조회합니다.
    
    <div class="search-bar"> 
        <input type="text" placeholder="이름검색" class="search">
    </div>    
</body>
</html>