.selected-sub-title{
	border-bottom: 2.5px solid var(--blue);
}

.selected-sub-title a{
	color: var(--blue) !important;
}

#calendar{
	padding-bottom: 20px;
	margin: 20px 40px;
}

.fc-button{
	background-color: white !important;
	border:none !important;
	color: var(--darkgray) !important;
	font-size: 24px !important;
	padding: 0px !important;
}

.fc-header-toolbar{
	margin: 5px 20px 20px 20px !important;
}

.fc-toolbar-title{
	font-size:24px !important;
	margin-bottom: 20px;
}