.custom-card {
    width: 180px;
    height: 80px;
    background-color: #e5e5e5;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
 }
 .name-text {
   font-size: 1.2rem;
   font-weight: bold;
 }
 .role-text {
   font-size: 1rem;
   font-weight: normal;
 }
 .dept-text {
   font-size: 0.9rem;
   color: #6c757d;
   margin-top: 5px;
 }
 .attachFont {
    font-size: smaller;
 }