
.header {
	display:flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	box-shadow: 0px 3px 32px rgba(195, 195, 195, 0.3);
}

.dropdown-toggle:hover{
	cursor: pointer;
}

.dropdown-menu li:nth-child(1){
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}

.dropdown-menu li:nth-child(2){
	text-align: center;
	margin-bottom: 10px;
}
.logo-image{
	margin-left: 40px;
	width: 45px;
}

.logo-image:hover{
	cursor: pointer;
}
.profile-img{
	height: 50px;
}

.container-box{
	display:flex;
  	justify-content: flex-start;
	height: 100%;	
  	min-height: calc(100vh - 100px);
}

.sidebar{
	width:252px !important;
	height: auto;
	display: flex;
    flex-direction: column;
	box-shadow: 3px 0px 32px rgba(195, 195, 195, 0.3);
}

.content-box{
	flex-grow:1;
}

.emp-name-box{
	display: flex;
    flex-direction: column;
    justify-content: center;
	margin-left:10px;
}

.emp-name{
	font-size:15px;
	margin:0px 0px 5px 0px;
	font-weight: bold;
}

.dept-name{
	margin:0px;
	font-weight:normal;
	font-size:11px;
}

.profile-img-box{
	display:flex;
	justify-content: flex-start;
}

.three-dots-vertical{
	width: 25px;
	margin-left: 20px;
	margin-right: 40px;
}


.sidebar-attendance{
	display: flex;
    flex-direction: column;
	margin-left:25px;
	margin-top:30px;
}

.sidebar-today{
	color : var(--darkgray);
	font-size: 14px;
}
.sidebar-today-time{
	margin-top:5px;
	font-weight: 500;
	font-size: 47px;
	margin-bottom: 20px;
}
.sidebar-start-time, .sidebar-end-time{
	display:flex;
	justify-content: space-between;
	margin-right: 25px;
	margin-bottom: 10px;
}

.sidebar-start-time span:nth-child(1), .sidebar-end-time span:nth-child(1) {
	font-weight: bold;
}

.sidebar-start-time span:nth-child(2), .sidebar-end-time span:nth-child(2) {
	color : var(--darkgray);
}

.sidebar-attendance-btn{
	margin-top: 20px;
	margin-right:25px;
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}

.sidebar-start{
	font-size: 14px;
	font-weight: 500;
	background-color: var(--blue);
	color: white;
	border: none;
}

.sidebar-end{
	font-size: 14px;
	font-weight: 500;
	background-color: white;
	color: var(--blue);
	border: groove;
	border-width:1.5px;
	border-color: var(--blue);
}

.sidebar-line{
	margin-top: 20px;
	margin-right: 20px;
	background-color: var(--lightgray);
	height: 1px;
}

.sidebar-icon{
	width: 25px;
	margin-bottom: 5px;
}

.nav-bar{
	width:252px;
	margin-left: 20px;
	margin-top: 20px;
}

.arrow{
	width: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.sidebar-title:hover, .sidebar-subtitle:hover{
	cursor: pointer;
}

.sidebar-title{

	background-color : white;
	width: 85%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 32px;
	height: 50px;
}

.selected{
	background-color : var(--blue);
	
}

.sidebar-title div{
	margin: 5px;
	margin-left: 10px;
	display: flex;
	align-items: center;
}

.sidebar-title div a{
	margin-left: 15px;
	color: var(--darkgray);
	margin-bottom: 5px;
}

.selected div a{
	color:white;
}

.sidebar-subtitle-box{
	display: none;
	margin-top: 5px;
	maring-bottom : 5px;
}

.selected-sub{
	display: block;
}
.sidebar-subtitle{
	color: var(--lightgray);
	width: 85%;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 32px;
}

.sub-selected{
	background-color : var(--skyblue);
}
.sub-selected a{
	color: white !important;
}

.sidebar-subtitle a{
	color: var(--lightgray);
	margin:30px;
	margin-left: 50px;
}

.main-container{
	margin: 50px 50px 0px 50px;
	margin-left: 50px;
	min-height: calc(100vh - 200px);
	box-shadow: 0px 3px 20px rgba(195,195,195,0.35);
	border-radius:12px;
}

.sub-title{
	display:flex;
	justify-content: flex-start;
	margin-top: 30px;
	margin-left : 40px;
	gap: 20px;
}

.sub-title div{
	padding: 0px 15px 10px 15px;
/* 	border-bottom: 2.5px solid var(--blue); */
}

.sub-title a{
/* 	color: var(--blue); */
	font-weight: bold;
	color: var(--darkgray);)
}

.sectionContainer {
	padding: 30px 43px 0 43px;
}


