.selected-sub-title{
	border-bottom: 2.5px solid var(--blue);
}

.selected-sub-title a{
	color: var(--blue) !important;
}

.temp-container{
	margin: 20px 40px 0px 40px;
	display: grid;
	grid-template-columns: 4fr 7fr;
	gap: 20px;
}

.left-container{
	display: flex;
	flex-direction: column;
	gap:20px;
}

.mini-title{
	font-weight: bold;
	font-size: 16px;
	margin: 30px 0px 20px 20px;
	margin-left: 40px;
}

.mini-line{
	margin-left : 40px;
	margin-right : 40px;	
	height: 0.5px;
	background-color: var(--lightgray); 
}
/* #################### 오늘의 근무 #################### */

.atd-box-top, .atd-box-middle {
	margin-left:40px;
	margin-right:40px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items:center;
}


.atd-time{
	margin-top: 20px;
}

.mini-today{
	
	color : var(--darkgray);
	font-size: 14px;
}
.mini-today-time{
	margin-top:5px;
	font-weight: 500;
	font-size: 47px;
	margin-bottom: 20px;
}

.atd-state{
	margin-right: 40px;
	margin-top: 20px;
	width: 110px;
	height: 50px;
	display: flex;
	align-items:center;
	justify-content:center;
	border : 1px solid var(--lightgray);
	border-radius: 5px;
	color: var(--darkgray);
	font-weight: bold;
}

.atd-box-middle{
	gap: 10px;
	margin-top: 30px;		
}


.start-time-btn, .end-time-btn{
	width: 190px;
	height: 90px;
	border:none;
	border-radius: 15px;
	color: white;
	font-size: 40px;
	display:flex;
	align-items: center;
	justify-content: space-between;
}


.start-time-btn span:nth-child(1) , .end-time-btn span:nth-child(1){
	margin-left: 10px;
	margin-bottom: 3px;
	font-size: 25px;
}

.start-time-btn span:nth-child(2) , .end-time-btn span:nth-child(2){
	margin-right: 10px;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 5px;
}
.start-time-btn{
	background-color: var(--blue);
}

.end-time-btn{
	background-color: var(--darkgray); 
}

.atd-box-bottom{
	font-weight: bold;
	color: var(--darkgray);
	display:flex;
	flex-direction:column;
	gap:10px;
	margin:40px 40px;
}

.atd-box-bottom div:nth-child(3){
	display:grid;
	grid-template-columns: 8fr 4fr 2fr 2fr;
}

.atd-box-bottom div:nth-child(3) span:nth-child(4){
	justify-self: end;
}

.work-time-bar{
	background-color: var(--blue);
	height: 12px;
	border-radius: 12px;
}

/* ############################ 월별 근태 현황 ############################### */

.chart{
	width:70%;
}

.graph-box{
	margin: 40px 40px;
	display: flex;
	align-items: center;
}

/* ############################ 캘린더 ############################### */
.right-container{
	margin-bottom: 30px;
}

.main-calendar{
	margin: 25px 40px;
}