.container-box{
	height: auto !important;
	min-height: calc(100vh - 100px);
}

.sidebar{
	height: 100%;
}

.main-container{
	padding-bottom: 30px;
	margin-bottom: 30px !important;
}

.selected-sub-title{
	border-bottom: 2.5px solid var(--blue);
}

.selected-sub-title a{
	color: var(--blue) !important;
}

#mychart{
	margin: auto;
/* 	height: 588px; */
}

.mini-title{
	font-weight: bold;
	font-size: 16px;
	margin: 30px 0px 20px 20px;
	margin-left: 40px;
}


.mini-line{
	margin-top: 10px;
	margin-left : 40px;
	margin-right : 40px;	
	height: 0.5px;
	background-color: var(--lightgray); 
}

.legend-and-period{
	margin: 10px 40px;
	display: flex;
	justify-content: space-between;
}

#choiceDay{
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items : center;
	height: 30px;
	border: 0.5px solid var(--lightgray);
	border-radius: 5px;
}

#choiceDay img{
	margin-left: 10px;
	width:20px;
}

.legend{
	height: 15px;
}
/* ########################## table ######################### */
.worktime-list{
	margin: auto;
	margin-top: 30px;
/*     overflow: hidden; */
    width: 1200px !important;
}

.worktime-list thead tr{
	border-top: 0.5px solid var(--lightgray);
	border-bottom: 2.5px solid var(--lightgray);	
} 

.worktime-list thead th {
	color: var(--darkgray);
	font-weight: bold;
	font-size : 20px;
	
}

.worktime-list tbody tr{
	border-bottom: 0.5px solid var(--lightgray);
}

.worktime-list tbody th, .worktime-list thead th:nth-child(1){
	border-right: 0.5px solid var(--lightgray);
}

.worktime-list tr{
	height: 60px;
}
.worktime-list thead tr th, .worktime-list tbody tr td, .worktime-list tbody tr th{
	vertical-align: middle;
	text-align: center;
}

.worktime-list img{
	height: 25px;
}
.worktime-list img:hover{
	cursor: pointer;
}

.accept-state{
	display: flex;
	align-items: center;
	background-color: var(--blue) !important;
	color: white !important;
	font-weight: bold !important;
	font-size: 13px !important;
}
.wating-state{
	background-color: var(--darkgray) !important;
	color: white !important;
	font-weight: bold !important;
	font-size: 13px !important;
}
.accept-state:hover{
	cursor: default;
}

/* ############### 신청 모달 ###################### */
.reason-report, .update-reason-report {
	margin: 0px 40px;
}

.reason-report div:not(.button-box):not(.file-list):not(.update-file-list),
.update-reason-report div:not(.button-box):not(.file-list):not(.update-file-list){
	margin: 15px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.reason-report div input,
.update-reason-report div input
{
	background-color: white !important;
	border : none !important;
}

.reason-report div:nth-child(4) input,
.update-reason-report div:nth-child(4) input{
	border: 0.5px solid var(--lightgray);
}
/* .reason-report div:nth-child(5){ */
/* 	align-items: flex-start;  */
/* } */
.reason-report div:nth-child(6),
.update-reason-report div:nth-child(6){
	margin-top: -10px;
	margin-left : 103px;
	min-height: 43px;
	border-radius: 5px;
	border: 0.5px solid var(--lightgray);
	font-size: 12px;
	padding-left: 10px;
		
}
.reason-report div:nth-child(7),
.update-reason-report div:nth-child(7){
	margin-top: 30px;
	justify-content: center;
}

.reason-report div:nth-child(7) textarea,
.update-reason-report div:nth-child(7) textarea{
	border: 0.5px solid var(--lightgray);
}
.button-large{
	border: none;
	margin-bottom: 40px;
}
.reject{
	background-color: white;
	border:2px solid var(--blue);
	color: var(--blue);
	font-weight: bold;
	font-size: 20px;
}

.accept{
	background-color: var(--blue);
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.reason-report div label,
.update-reason-report div label{
	color: var(--darkgray);
	font-weight: bold;
	font-size: 20px; 
	width: 140px;
}

.button-box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.bi-x-circle, .bi-download{
	color: var(--lightgray);
	margin-left : 10px;
	cursor: pointer;
}

.file-list, .update-file-list{
	padding: 5px 0px;
}