.flex-container{
	display:grid;
	padding: 20px 40px 40px 40px;
	grid-template-columns: 3fr 7fr;
	gap: 20px;
	
}

.mini-title{
	font-weight: bold;
	font-size: 16px;
	margin: 30px 0px 20px 20px;
	margin-left: 40px;
}

.mini-line{
	margin-top: 10px;
	margin-left : 40px;
	margin-right : 40px;	
	height: 0.5px;
	background-color: var(--lightgray); 
}

.process-list-box {
    /* 기존 스타일 유지 */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 자식 요소가 벗어나지 않도록 설정 */
    height: 100%; /* 부모 박스가 자식 높이에 맞춰 늘어나도록 설정 */
}

.process-list-table{
	width: 300px !important;
	margin:0px 40px;
	display:table;
	table-layout: fixed;
}

.process-list-table tr{
	display:flex;
	align-items:center;
}

.process-list-table thead th:nth-child(1), .process-list-table tbody th:nth-child(1) {
	display:flex;
	justify-content: center;
	text-align:center;
	width:150px;
}
.process-list-table thead th:nth-child(2), .process-list-table tbody td:nth-child(2){
	display:flex;
	justify-content: center;
	text-align:center;
	width:50%;
}
.process-list-table thead th:nth-child(3), .process-list-table tbody td:nth-child(3){
	display:flex;
	justify-content: center;
	text-align:center;
	width:20%;
}

.process-list-table tbody td:nth-child(2){
	font-weight: bold;
	font-size: 12px;
	color: var(--darkgray);
}
.process-list-table tbody td:nth-child(3){
	font-weight: bold;
	color: rgb(233, 6, 6);
}

.process-profile-box{
	display:flex;
	align-items: center;
}

.process-profile-img{
	width: 30px;
}
.process-profile-info{
	width: 80px;
	margin-left:5px;
	display:flex;
	flex-direction: column;
}

.process-list-table thead tr {
	padding-bottom: 10px;
    border-bottom: 1.5px solid var(--lightgray);
}
.process-list-table tbody tr {
    border-bottom: 0.5px solid var(--lightgray);
    height: 90px;
}


.process-profile-info h4 {
	font-size :12px;
	font-weight: bold;
}
.process-profile-info p {
	margin:5px;
	font-size :11px;
	color: var(--lightgray);
}
.reason-report{
	margin: 10px 40px;
}

/* ###################사유서####################### */
.reason-report div{
	margin: 15px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.reason-report div input{
	border : none;
}

.reason-report div:nth-child(4) input{
	border: 0.5px solid var(--lightgray);
}
.reason-report div:nth-child(5){
	align-items: flex-start; 
}
.reason-report div:nth-child(6){
	margin-top: 70px;
	justify-content: center;
}
.button-large{
	border: none;
	margin-bottom: 40px;
}
.reject{
	background-color: white;
	border:2px solid var(--blue);
	color: var(--blue);
	font-weight: bold;
	font-size: 20px;
}

.accept{
	background-color: var(--blue);
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.reason-report div label{
	color: var(--darkgray);
	font-weight: bold;
	font-size: 20px; 
	width: 140px;
}