.selected-sub-title{
	border-bottom: 2.5px solid var(--blue);
}

.selected-sub-title a{
	color: var(--blue);
}

.full-container{
	display: flex; 	
	gap: 20px;
	margin: 20px 40px; 
}

.right-container{
	display: flex;
	flex-direction: column;
	gap:20px;
}

.holiday-accept{
	/* margin-bottom: 20px; */
}

.mini-title{
	font-weight: bold;
	font-size: 14px;
}

.mini-line{
	margin-left : 40px;
	margin-right : 40px;	
	height: 1.5px;
	background-color: var(--lightgray); 	
}

.mini-mini-line{
	margin: 30px 0px 20px 0px ;
	height: 0.5px;
	background-color: var(--lightgray); 	
}
.accept-box{
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}
.accept-label{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-right: 40px;
	color: #6b6b6b;
}

.profile-box{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.profile-box img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
    object-fit: cover;
	margin-right:20px;
}

.process-profile-info h4{
	font-size: 16px;
	font-weight: bold;
	margin-top:10px;
}

.process-profile-info p{
	margin-top: 3px;
	color: var(--lightgray);
	font-size: 12px;
}

.holiday-period{
	color: var(--darkgray);
	font-size: 12px;
	font-weight: 400;
	margin-left: 10px;
}

.holiday-time{
	width: 90px;
	height: 30px;
	background-color: var(--skyblue);
	color:#1F5FFF;
	border-radius: 5px;
	font-size:14px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
	margin-left: 20px;
}

.holiday-reason{
	width:350px;
	height: 80px;
	color: var(--darkgray);
	border: 1px solid var(--lightgray);
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 0;
	font-weight: 400;
	font-size: 14px;
}
.holiday-file{
	display: flex;
	justify-content: flex-start;
	margin-top : 30px;
	gap : 20px;
}
.choiced-file{
	color: var(--lightgray);
	font-size: 14px;
}


.modal-footer{
	display:flex !important;
	justify-content: center;
	
}
.button-large{
	margin-top: 30px;
	border: none;
	margin-bottom: 45px;
}
.reject{
	background-color: white;
	border:1px solid var(--blue);
	color: var(--blue);
	font-weight: bold;
	font-size: 12px;
}

.accept{
	background-color: var(--blue);
	border: solid transparent;
	color: white;
	font-weight: bold;
	font-size: 12px;
}


/* ##########################휴가 신청 내역############################ */
.holiday-list-table{
	width: 1180px;
	margin:20px 40px;
	display:table;
	table-layout: fixed;
}

.holiday-list-table tbody tr:nth-child(1){
	border-bottom: 3px solid #F0F0F0;
}
.holiday-list-table tbody tr:nth-child(1) td{
	color: #6b6b6b;
	font-weight: bold;
	margin-bottom: 7px;
}

.holiday-list-table tbody tr:first-child ~ tr{
	height: 60px;
}

.holiday-list-table tbody tr td:nth-child(1){
	width: 13%;
}
.holiday-list-table tbody tr td:nth-child(2){
	width: 20%;
}
.holiday-list-table tbody tr td:nth-child(3){
	width: 12%;
}
.holiday-list-table tbody tr td:nth-child(4){
	width: 13%;
}
.holiday-list-table tbody tr td:nth-child(5){
	width: 30%;
}
.holiday-list-table tbody tr td:nth-child(6){
	width: 12%;
}

.holiday-profile-box{
	display:flex;
	align-items: center;
}
.holiday-list-table tbody tr{
	display:flex;
	align-items: center;
}
.holiday-list-table tbody td{
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	
}


.holiday-profile-img {
	width: 29px;
}

.holiday-profile-info {
	width: 80px;
	margin-left:10px;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}

.holiday-profile-info h4 {
	font-size: 12px;
	font-weight: 500;
}

.holiday-profile-info p {
	font-size: 8px;
	margin-top: 5px;
}


.page-item {
	border:none !inportant;
}


.arrow-right, .arrow-left {
	width: 10px;
}

.holiday-list-table tr:hover td, .holiday-list-table tr:hover{
	background-color: var(--dimgray) !important;
	cursor: pointer;
}

.holiday-list-box.card {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 40px;
    align-items: center;
    height: 50px;
}

.pagination a, .pagination span {
	display: flex;
	justify-content: center;
	margin: 0 5px 0 5px;
}

.page-num {
	background-color: transparent;
	border: solid transparent;
    color: #c7c7c7;
}

.holidayList {
	margin-top: 150px;
	font-weight: 500;
	color: var(--lightgray); 
	font-size: 20px;
	height: 200px;
	margin: 500px;
	margin-top: 1000px;
}

.modalContent {
	height: 400px;	
}

.holiday-type {
	/* margin-top: 40px; */
}

.holidayTypeContent {
	display: flex;
	align-items: center;
}

.holidayReasonContent {
	display: flex;
	align-items: center;
}

.cancelBtn {
	display: flex;
	align-items: center;
}

.process-profile-img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
    object-fit: cover;

}

.modal-content {
	display:flex !important;
}