.selected-sub-title {
    border-bottom: 2.5px solid var(--blue);
}

.selected-sub-title a {
    color: var(--blue);
}

.mini-title {
    font-weight: bold;
    font-size: 16px;
    margin: 40px 0px 20px 20px;
    margin-left: 40px;
}

.mini-line {
    margin-left: 40px;
    margin-right: 40px;
    height: 0.5px;
    background-color: var(--lightgray);
}

.holiday-request-box {
    display: flex;
    margin: 30px 40px 20px 40px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.holiday-flex-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    
}

.holiday-calendar {
    /* width: 48%; */
    margin-left: 20px;
}

.holiday-details {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.holiday-select-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.holiday-select1, .holiday-select2, .holiday-halfSelect, 
.holiday-halfHalfSelect {
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.holiday-halfSelect, .holiday-halfHalfSelect {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.holiday-select4 {
    width: 100%;
    margin-top: 24px;
}

.holiday-button {
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: center;
   /*  gap: 10px; */
}

.button-large {
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
}

.reject {
    background-color: white;
    border: 1.5px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    font-size: 16px;
}

.accept {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#deptId {
    width: 140px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-secondary-bg);
    padding: .375rem 2.25rem .375rem .75rem;
}

textarea {
    width: 122%;
    height: 114px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

/* form {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.holiday-calendar p, .holiday-select1,
.holiday-select2, .holiday-select3, .holiday-select4 p,
.holiday-halfSelect, .holiday-halfHalfSelect {
	color: #6B6B6B;
	font-size: 14px;
	font-weight: bold;
}

.flatpickr-calendar {
	width: 340px !important;
	margin-top: 15px !important;
}

.flatpickr-innerContainer {
	display: flex !important;
	justify-content: center !important;
	height: 280px !important;
}

.flatpickr-month {
	height: 50px !important;
	padding-top: 5px !important;
}

.flatpickr-next-month, ..flatpickr-prev-month {
	height: 50px !important;
	padding-top: 5px !important;
}

#hdCategory {
	margin-top: 15px;
	width: 250px;
}

#holiday-duration {
	margin-top: 15px;
	width: 120px
}

#hdrContent {
	margin-top: 15px;
}

.holiday-select3{
	flex-direction: column;
    display: flex;
    margin-top: 24px;
}

.positionEmp {
	display: flex;
	margin-top: 15px;
	margin-bottom: 20px;
	gap: 20px;
	height: 37.33px;
}

#hdrApprover, #position {
	width: 240px;
	
}

#hdCategory, #hdrApprover, #holiday-duration, #holiday-period,
#holiday-time, #deptId, #position, #hdrApprover {
	color: #767676;
    font-size: 14px;
    font-weight: 500;
}