.cardBox {
    padding: 0 40px 80px 40px;
}

.line {
    border: 0.5px solid #F0F0F0;
}

.text {
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0 25px 0;
}

.tableTitle {
	justify-content: center;
	color: #6b6b6b;
    font-size: 14px;
    font-weight: bold;
}

.tableContent {
	display: flex;
	color: #494949;
    font-size: 14px;
    border-collapse: separate;
    border-spacing: 0 6px;
    flex-direction: column;
}

.tableContent tr {
	display: flex;
	align-items: center;
}

.tableContent:hover {
	cursor: pointer;
}

.tableContent td:nth-child(1), .tableTitle td:nth-child(1) {
	width: 250px;
	padding: 16px;
	padding-left: 60px;
	padding-right: 80px;
    display: flex;
    justify-content: center;
}

.tableContent td:nth-child(2), .tableTitle td:nth-child(2) {
	width: 400px;
}

.tableContent td:nth-child(3), .tableTitle td:nth-child(3) {
	width: 250px;
}

.tableContent td:nth-child(4), .tableTitle td:nth-child(4) {
	width: 200px;
}

.tableContent td:nth-child(5), .tableTitle td:nth-child(5) {
	width: 150px;
    display: flex;
    justify-content: center;
    padding-right: 60px;
}

#date {
	position: relative;
    width: 158px;
    height: 30px;
    overflow: hidden;
    margin-right: 8px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

#choiceDay img {
    margin-left: 10px;
    width: 20px;
}    

.search {
	color: #818181;
	font-size: 12px;
}

#enterkeySearch {
	height: 30px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

.searchBar {
	position: relative;
    width: 158px;
    height: 30px;
    border:none;
    overflow: hidden;
}

.searchBar input {
	width: 100%;
}

.searchBar img {
	position: absolute;
	left: 128px;
	top: 50%;
	transform: translateY(-50%);
	width: 17px;
}

.search {
	display: flex;
	/* margin: 0 0 30px 620px; */
}

.tableContent img {
	width: 40px;
}

.listTop {
	display: flex;
	justify-content: space-between;
}

.button-medium {
	float: right;
	margin-top: 10px;
    background-color: #1F5FFF;
    border: solid transparent;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 40px;
    align-items: center;
    height: 50px;
}

.pagination a, .pagination span {
	display: flex;
	justify-content: center;
	margin: 0 5px 0 5px;
}

.page-num {
	background-color: transparent;
	border: solid transparent;
    color: #c7c7c7;
}

#searchCancel {
	height: 30px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}